* {
    padding: 20px;
    padding-left: 0;
}

body {
    background-color: yellow;
}


#learning {
    background-color: yellow;
    margin: 20px;
    margin-left: 0;
    border-radius: 5px;
    width: 80px;
    height: 15px;
    text-align: center;
}

#foundations {
    margin: 20px;
    margin-left: 0;
    padding-left: 0;
    font-size: larger;
}

#foundations:hover {
    color: yellow;
}

#about {
    margin-top: 0;
    color: grey;
    background-color: white;
}

#name {
    font-size: medium;
    display: flex;           /* Aktivira flexbox */
    align-items: center;     /* Vertikalno poravnava sliku i tekst */
    margin-bottom: 10px;
}

#mainPic {
    border-radius: 35px;
    background-color: white;
    display: block;
}

.everything {
    padding: 20px;
    border-style: ridge;
    border-radius: 10px;
    border-color: black;
    background-color: white;
    height: 650px;
    position: relative;
    margin: 0 auto;
    width: 50%;
    width: 337px;
    box-shadow: 5px 5px 0px black;
}

